<div class="container-profile">
	<app-top-bar></app-top-bar>

	<div class="main-profile">
		<div class="left-bar">
			<div class="box-a">
				<div class="return">
					<img src="assets/images/arrow_back.svg">
					<div class="picture">
						<img src="assets/images/ellipse.png">
					</div>
				</div>				
				<div class="name-user">
					<h4>Rick Bone Junior</h4>
					<h5>@rickbonejr</h5> 
				</div>
				<div class="followers">
					<h5>Seguidores</h5> 
					<h5>109</h5>
				</div>
				<div class="following">
					<h5>Seguindo</h5> 
					<h5>56</h5>
				</div>
				<div class="favorites">
					<h5>Favoritos</h5> 
					<h5>8</h5>
				</div>
			</div>
			<div class="box-b">
				<div class="about">
					<h4>Sobre</h4>
				</div>
				<div class="about">
					<h5>Desenvolvedor JavaScript - React, React Native, Vue, TypeScript, GraphQL, Redux. NodeJS</h5>
				</div>
				<div class="box-b1">
					<div class="sub-box">
						<img src="assets/images/business-bolder.svg">
						<h5>GO.D Digital</h5>
					</div>

					<div class="sub-box">
						<img src="assets/images/place-bolder.svg">
						<h5>São Paulo, Brazil</h5>
					</div>
				</div>
			</div>

			<div class="box-c">
				<h4>Destaques</h4>
				<div class="dev">
					<img src="assets/images/bookmarks.svg">
					<h5>Developer Programm Member</h5>
				</div>
			</div>
		</div>
		<div class="right-bar">
			<div class="box-d">
				<div class="search">
					<img src="assets/images/search.svg">
					<input type="text" name="" placeholder="Buscar um repositório..." autocomplete="on">
				</div>
				
				<div class="search">
					<img src="assets/images/filter_list.svg">
					<input type="text" name="" placeholder="Filtrar por tag" autocomplete="on">
				</div>	
			</div>
			<div class="box-e">
				<div class="project">
					<div class="sub-project">
						<h4>project-name-java</h4>
						<img src="assets/images/arrow-right.svg">
					</div>
					<div class="star">
						<img src="assets/images/star-yellow.svg">
					</div>
				</div>
				<div class="describe">
					<h4>Project application with component animations with React Native</h4>
					<div class="button-icon">
						<button>
							<div class="box-button">
								<span>Adicionar tags</span>
								<img src="/assets/images/add.svg">
							</div>
						</button> 	
					</div>
				</div>
			</div>
		</div>			
	</div>
</div>